<template>
  <div class="hello">
    <input v-model="inputFrom" placeholder="Message from" />
    <input v-model="inputBody" placeholder="Message body" />
    <button @click="makeUnaryReq">Make req</button>
    <h3 >{{unarySrvResp}}</h3>
  </div>
</template>

<script>
import { MsgRequest } from "../proto/msgs_pb";
import { MsgsServiceClient } from "../proto/msgs_grpc_web_pb";

export default {
  name: "HelloWorld",
  created: function() {
    console.log("Calling GRPC...");
    this.client = new MsgsServiceClient("http://localhost:8081", null, null);
  },
  data: function()  {
    return {
      inputFrom: "",
      inputBody: "",
      unarySrvResp: ""
    };
  },
  methods: {
    makeUnaryReq: function()  {
      let unaryReq = new MsgRequest();

      unaryReq.setFrom(this.inputFrom);
      unaryReq.setBody(this.inputBody);

      // this.inputFrom = "";
      // this.inputBody = "";

      this.client.sendMsg(unaryReq, {}, (err, response) => {
        if (err != null) {
          console.error(err);
          this.unarySrvResp = `Got err: ${JSON.stringify(err, null, 2)}`;
        } else {
          console.log(`Server response: ${JSON.stringify(response.toObject(), null, 2)}`)
          this.unarySrvResp = response.getMessage();
        }
      });
    }
  }
};
</script>


<style scoped>
</style>
